.popup__save {
  margin: 0 auto;
  padding: 0;
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.popup__save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .popup__save {
    max-width: 238px;
    width: 100%;
    min-height: 46px;
    font-size: 14px;
  }
}
