.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  font-style: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 960px) {
  .profile__name {
    max-width: 205px;
    font-size: 29px;
    line-height: 36px;
  }
}

@media screen and (max-width: 650px) {
  .profile__name {
    max-width: 189px;
    text-align: center;
    font-size: 27px;
    line-height: normal;
  }
}
